// VARIABLES QUE QUIERO MODIFICAR
$primary: #ff914d;
// IMPORT LAS HOJAS SASS DE BOOTSTRAP QUE TENGAS MI VARIABLES

.linkedin{
    color: blue; 
}
.boton{
    z-index: 99;
}
.texto{
    z-index: 99;
  
}
.circulo{
    height: 200px;
    width:  200px;
    border-radius: 50%;
}
.circulo:hover{
    background-color: #ff914da9 !important;
}

.Especialidades:hover{
    position: relative;
    bottom: 3px;
}

@media  (max-width: 420px){
    .footer-text{
        text-align: center
    }
    .footer-content{
        justify-content: center;
    }
}
@import "../node_modules/bootstrap/scss/bootstrap.scss"; 