// VARIABLES QUE QUIERO MODIFICAR
$primary: #ff914d;
// IMPORT LAS HOJAS SASS DE BOOTSTRAP QUE TENGAS MI VARIABLES

.linkedin{
    color: blue; 
}
.boton{
    z-index: 99;
}
.texto{
    z-index: 99;
  
}
.circulo{
    height: 200px;
    width:  200px;
    border-radius: 50%;
}
.circulo:hover{
    background-color: #ff914da9 !important;
}

.Especialidades:hover{
    position: relative;
    bottom: 3px;
}
.lista-mobile{
    display: flex;
    justify-content: end;
}
//PERFIL
.cardPrincipal{
    height: 400px;
    width: 40vw;
}
.divPerfilPrincipal{
    display: flex;
    flex-flow: row wrap;
}
.cardStaff{
    height: 400px;
    width: 25vw;
}

@media  (max-width: 420px){
    .footer-text{
        text-align: center
    }
    .footer-content{
        justify-content: center;
    }
    .lista-mobile{
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            justify-content: center;
        }
    }
    .logo-menu{
        width: 50vw;
    }
    .mobile-lista{
        display: none !important;
    }
    .mapa{
        width: 90vw;
        height: 300px;
    }
    .telyemail{
        margin-top: 2rem !important;
    }
    //SERVICIOS
    .divCirculo{
        .circulo{
            width: 100px;
            height: 100px;
            img{
                height: 40px;
                width: 40px;
            }
        }
        h3{
            font-size: small;
            
        }
    }

    .Especialidades{
        img{
            height: 40px ;
            width: 40px ;
        }
        h4{
            font-size: small;
        }
    }
    .Especialidades:hover{
        img{
            height: 80px ;
            width: 80px ;
        }
        h4{
            font-size: 1.5rem;
        }
    }

    .divServicio{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 90vw;
    }
    
    h2{
        text-align: center
    }
    .cardPrincipal{
        height: auto;
        width: 90vw;
        align-content: center
    }
    .lista-frecuentes{
        width: 80vw;
    }
}
@import "../node_modules/bootstrap/scss/bootstrap.scss"; 